.connect-btn {
  
}

.row-fluid [class*="span"] .output {
  margin-left: 0px;
}

.output ul {
  margin-left: 0px;
}

.output ul li {
  padding-top: 10px;
  padding-bottom: 10px;
  list-style-type: none;
  padding-left: 10px;
  border-top:solid 1px #cccccc;
  color: #222222;
  font-size: 13px;
}

.output ul .selected {
  background-color: #eeeeee;
}

body {
  /*padding-top: 20px;
  padding-bottom: 40px;*/
}

.container-narrow {
  margin: 0 auto;
  max-width: 900px;
}

.container-narrow > hr {
  margin: 30px 0;
}

.custom-input {
  width: 90%;
}

.custom-input-place {
  width: 60%;
  margin-left: 10px;
}

input[type="text"]{
  margin-bottom: 4px;
}

h3 a {
  color: #E82A37;
}

h3 a:hover {
  color: #E82A37;
}

.band {
  height: 5px;
  width: 100%;
  background-color: #E82A37;
  position: absolute;
  left: 0px;
  top: 0px;
}

.success-storage {
  display: none;
  position: absolute;
  top: 7%;
  right: 34%;
}

.success-storage .alert-block{
  padding-top: 7px;
  padding-bottom: 7px;
}

.login-box{
  text-align: center;
}

.footer {
  text-align: center;
}

.footer img {
  height: 50px;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
}

html, body {
  height: 100%;
}
.push, .footer {
  height: 60px;
}

.footer{
  color: #999;
  font-size: 13px;
}

.footer hr {
  margin-bottom: 0px;
  margin-top: 0px;
}

.login-main-container {
  padding-top: 10%;
}

.app-main-container {
  padding-top: 20px;
}

.my-helper {
  font-style: italic;
  color: #999;
}

.footer-container{
  margin-left: auto;
  margin-right: auto;
  height: 97%;
}

.footer-separator-left {
  margin-left: 13px;
}

.footer-separator-right {
  margin-right: 13px;
}

.information {
  color: E82A37; 
}

input.error {
  border-color: #E82A37;
  color: #E82A37;
}

i {
  font-size: 10px;
}

.footer{
  text-align: center;
}

.footer-links li {
  display: inline;
  padding: 0 2px;
}

.footer-foursquare {
  height: 50px;
  width: 198px;
}