@(clientId: String, redirectUri: String)

@import helper._

@main("NCR") {
  
  <div class="band"></div>
  <div id="wrap">
    <div class="container-narrow login-main-container">
      <div class="row-fluid">
        <div class="login-box">
          <h1>Next checkin reminder</h1>
          <p class="lead">Receive a reminder next time you check in in a place.</p>
          </br>
          <a  href="https://foursquare.com/oauth2/authenticate?client_id=@clientId&response_type=code&redirect_uri=@redirectUri" class="btn btn-success connect-btn" >Login with Foursquare</a>
        </div>
      </div>
    </div>
    <div class="push"></div>
  </div>

  <div class="footer">
    <hr>
    <div class="footer-container">
      <div class="footer-name">
        Made by <a href="http://www.regisfoucault.com">Régis Foucault</a>
      </div>
      <div class="footer-separator-left">|</div>
      <img src="https://playfoursquare.s3.amazonaws.com/press/logo/poweredByFoursquare_gray.png" />
      <div class="footer-separator-right">|</div>
      <div class="footer-clever">
        Hosted on <a href="http://www.clever-cloud.com" target="_blank">Clever Cloud</a>
      </div>
    </div>
  </div>

  
  <script type="text/javascript" src='@routes.Application.javascriptRoutes()'></script>
  <script type="text/javascript" src="@routes.Assets.at("javascripts/main.js")"></script>
  
    
}